body {
    margin: 0;
    padding: 0;

}
.block__long {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-bottom: 2px;
}
.header__block-A {
    background: blueviolet;
}

.section-1 {
    display: flex;
    text-align: center;
    line-height: 175px;
}
.section-1__menu {
    background: aqua;
    height: 400px;
    width: 200px;

}
.section-2__block_B {
    background: blue;
    height: 200px;
}
.section-2__block_C {
    background: red;
    height: 200px;


}
.footer {
    background: yellow;
}
.section-2 {
    flex-direction:column;
    width: 100%;
}