body {
    margin: 0;
    padding: 0;

}
.block__long {
    text-align: center;
    height: 200px;
    line-height: 200px;
    margin-bottom: 2px;
}
.header__block-A {
    background: blueviolet;
}
.menu {
    display: flex;
    text-align: center;
    line-height: 175px;
}
.medium_block {
    height: 200px;
    flex-grow: 1;
    margin-right: 2px;
}
.menu__block_B {
    background: blue;

}
.menu__block_C {
    background: black;
    color: white;

}
.menu__block_D {
    background: red;

}
.F {
    background: teal;
}