body {
    margin: 0;
    padding: 0;

}
.block__long {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-bottom: 2px;
}
.header__block-A {
    background: blueviolet;
}
.nav__block-menu {
    background: tomato;
}
.block {
    display: flex;
    text-align: center;
    line-height: 175px;
}
.block__B {
    background: blue;
    height: 200px;
    flex-grow: 5;
    margin-right: 2px;

}
.block__C {
    background: red;
    height: 200px;
    flex-grow: 1;

}
.footer {
    background: fuchsia;
}